div.square {
    background-color: lightblue;
    width: 0px;
    height: 0px;
    border-top: 100px solid green;
    border-bottom: 100px solid blue;
    border-right: 100px solid red;
    border-left: 100px solid yellow;
    margin-bottom: 100px;
}

span.rectangle {
    background-color: lightblue;
    width: 0px;
    height: 0px;
    border-top: 100px solid lightblue;
    border-bottom: 0px;
    border-right: 100px solid blue;
    border-left: 100px solid darkblue;
    margin-top: 50px;
}

div.mariotop {
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    border: 6px solid green;
    border-top-style: double;
    border-bottom-style: dotted
}

div.mariobottom {
    background-color: lightgreen;
    width: 150px;
    height: 200px;
    border: 6px solid green;
    border-top-style: none;
    margin-left: 25px
}